<!--
Part 1, Sorting:
Add event handlers to each of the table header (th) tags. They should invoke
callSort, passing along the name of the appropriate field on which to sort.

Then go back to payees.component.ts

Part 2, Filtering:
Add a row below the table headers row (still in the <thead> section).
It should have one td with a colspan of 3
In the td, have a label and an input field.  The label should say "Payee Name:"
and the input field should have an ngModel matching the property in the
component (hint: payeeNameFilter).

Add a button which, when clicked, passes the value of payeeNameFilter to
the function callFilter()

Then return to payees.component.ts

-->
<table *ngIf="payees" class="table table-hover">
  <thead>
  <tr>
    <th (click)="callSort('payeeName')">Payee</th>
    <th (click)="callSort('city')">City</th>
    <th (click)="callSort('state')">State</th>
  </tr>
  <tr>
    <td colspan="3"><label for="filter-payeeName">Payee Name:</label>
      <input [(ngModel)]="payeeNameFilter"
             type="text"
             name="filterPayeeName"
             id="filter-payeeName">
      <button (click)="callFilter(payeeNameFilter)" class="btn btn-default">Filter</button>
    </td>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let payee of payees"
      (click)="callPayeeSelect(payee)">
    <td>{{ payee.payeeName }}</td>
    <td>{{ payee.city }}</td>
    <td>{{ payee.state }}</td>
  </tr>
  </tbody>
</table>
