<!--
Write a component which will display every Payee in an array of Payees.
Use *ngFor to iterate over payees, printing out the following for each one:
 + payeeName
 + city
 + state

You can write a simple unordered list. Or you can use Bootstrap classes (like
the table.table structure) to print out something nice looking.

Ensure that the list only displays when the list of payees is available.

Then go to payee.module.ts to register this component.
-->
<table *ngIf="payees" class="table table-hover">
  <thead>
  <tr>
    <th>Payee</th>
    <th>City</th>
    <th>State</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let payee of payees">
    <td>{{ payee.payeeName }}</td>
    <td>{{ payee.city }}</td>
    <td>{{ payee.state }}</td>
  </tr>
  </tbody>
</table>
