<!--
Add an *ngIf directive to the main div, below, which ensures that the component's
contents only show if there is a defined payee

Then return to payees.component.ts.
-->
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-success">
      <div class="panel-heading">{{ payee.payeeName }}</div>
      <ul class="list-group">
        <li class="list-group-item">{{ payee.payeeName }} [#{{ payee.id }}]</li>
        <li class="list-group-item">{{ payee.address }}</li>
        <li class="list-group-item">{{ payee.city }}, {{ payee.state }} {{
          payee.zip }}
        </li>
      </ul>
    </div>
  </div>
</div>
