<div class="row" *ngIf="tx">
  <div class="col-md-12">
    <div class="panel panel-primary">
      <div class="panel-heading">Transaction {{ tx.id }}</div>
      <ul class="list-group">
        <li class="list-group-item">Paid {{ tx.payee.payeeName }}</li>
        <li class="list-group-item">
          {{ tx.payee.address }} <br>
          {{ tx.payee.city }}, {{ tx.payee.state }}
        </li>
        <li class="list-group-item">
          Amount: <span [ngClass]="creditOrDebit(tx)">{{ tx.amount | currency:USD:true }}</span>
        </li>
        <li class="list-group-item">
          When: {{ tx.txDate | date: 'EEEE, MMMM dd, yyyy'}}
        </li>
        <li class="list-group-item">Status: {{ tx.txStatus }}</li>

      </ul>
    </div>
  </div>
</div>
